.App {
  display : flex;
  flex-wrap : wrap;
  justify-content: space-around;
}

.Vignette{
    width : 45% !important;
  
  }

.detail {
  width : 90%;
  
}

.detail img{
  width : 80%;
  margin-left: 10%;
  
}
